ul.vote {
    list-style: none;
    text-align: center;
    margin-right: 25px;
}

ul.vote li.vote-arrow {
    height: 50px;
}

ul.vote li.spacer {
    vertical-align: middle;
    line-height: 30px;
    height: 38px;
}

ul.vote li {
    font-size: 30px;
    font-weight: bold;
}

.picture-container {
    width: 65%;
    margin: auto;
}

.picture-container img {
    max-width: 75%;
}


